html {
    font-size: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*-----------------------------------------
  Main Section
-----------------------------------------*/
.main {
}

/*-----------------------------------------
  Explanation Section
-----------------------------------------*/
.explanation {
}

/*-----------------------------------------
  Participation Section
-----------------------------------------*/
.participation {
}

/*-----------------------------------------
  Benefits Section
-----------------------------------------*/
.benefits {
}

/*-----------------------------------------
  Requirements Section
-----------------------------------------*/
.requirements {
}

/*-----------------------------------------
  Footer Section
-----------------------------------------*/
